snippet pset "Proof setup" br
\documentclass{article}
\usepackage{amsthm}
\usepackage{multicol}

\title{$1}
\author{$2}
\date{$3}

\newtheorem{lemm}{Lemma}

\begin{document}
\maketitle

\begin{lemm}
\end{lemm}

\begin{proof}

\end{proof}


\end{document}
endsnippet


